<footer>
    <div class="footer-terms">
        <span id="terms">terms</span>
        <span id="privacy-terms">privacy</span>
    </div>
    <span id="footer-name">Danish Siddiqui © 2020</span>
</footer>